JWT_SECRET=smart-waste-demo-secret
MONGO_URI=mongodb://127.0.0.1:27017/smart_waste_portal
FIREBASE_SERVICE_ACCOUNT_PATH=/Users/ompatel/Desktop/SmartWasteWebPortal/backend/firebase-service-account.json
